
[submodule "splinegs-site"]
	path = splinegs-site
	url = https://github.com/quan5609/splinegs-site.git
[submodule "From_Ground_To_Objects_site"]
	path = From_Ground_To_Objects_site
	url = https://github.com/pmjames16/From_Ground_To_Objects_site.git
[submodule "DAKTer-site"]
	path = DAKTer-site
	url = https://github.com/pmjames16/DAKTer-site.git
[submodule "mobgs-site"]
	path = mobgs-site
	url = https://github.com/quan5609/mobgs-site.git
[submodule "primedit-site"]
	path = primedit-site
	url = https://github.com/sateodoro/primedit-site.git
[submodule "One-Look-is-Enough_site"]
	path = One-Look-is-Enough_site
	url = https://github.com/Byeongjun1022/One-Look-is-Enough_site.git
[submodule "moblurf-site"]
	path = moblurf-site
	url = https://github.com/quan5609/moblurf-site.git
[submodule "compass-site"]
	path = compass-site
	url = https://github.com/ImJongminPark/compass-site
[submodule "fmanetpp_site"]
	path = fmanetpp_site
	url = https://github.com/GeunhyukYouk/fmanetpp_site.git
[submodule "ecosplat-site"]
	path = ecosplat-site
	url = https://github.com/quan5609/ecosplat-site.git
[submodule "omnitext-site"]
	path = omnitext-site
	url = https://github.com/agusgun/omnitext-site

[submodule "bimvfi-site"]
	path = bimvfi-site
	url = https://github.com/wonozlo/BiM-VFI_site
[submodule "PropFly_site"]
	path = PropFly_site
	url = https://github.com/pmjames16/PropFly_site.git
